{% extends 'base.html' %}
{% block content %}<style>
body{
    font-family: 'Abril Fatface', cursive;
    font-weight: 600;
    font-size: 25px;
}
</style>
<h1>Nope!! Not here.</h1>
<img src="https://media1.tenor.com/images/c96d6218c538c9c887ca232f6c9f9c6e/tenor.gif?itemid=8748733" height="500px"alt="sad boy">
<button style="text-align:center; height:50px; border-radius: 10%;box-shadow:5px 5px 10px 5px #a30559;width: 100px;"><a href="/" style="color: black; font-size: 15px;">Go Home</a></button>
{% endblock %}