{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
    <div class="panel">
    <div class="panel-body">
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <div class="text-center">
        <div class="col-md-6">
            <blockquote >
                    <footer>Posted by:
                        <cite > {{ article.user.username}}</cite>
                        on
                        <cite > {{ article.posted.strftime('%Y-%m-%d')}}</cite>
                    </footer>
                    </blockquote>
                    <div class="text-center">
                        <a href="{{url_for('main.review')}}" class="btn btn-primary">Comment</a>
                    </div>
                </div>
                </div>
            </div>
        
                <div class="col-md-4">
                    <div class="panel">
                    <div class="panel-body">
           
{{ wtf.quick_form(review_form) }}
    </div>
    </div>
    </div>

    <div class="col-md-12">
    <h2><span class="panel">Comments</span></h2>
    {%for comment in comment %}
    <div class="well" style="width: 25rem">
        <p>{{ comment.review}}</p>
        <p>Time posted: {{ comment.posted.strftime('%Y-%m-%d')}}</p>
    </div>
    {% endfor %}
    </div>

    {% endblock %}